.TopAnswerPeople {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(270deg, #dbe910 0%, #e41b14 100%);
}

.TopAnswerPeople > div {
    width: 100%;
    max-width: 500px;
    padding: 150px;
}

.TopAnswerPeople ul {
    list-style: none;
    margin: 0;
}

.TopAnswerPeople ul li {
    margin-bottom: 10px;
}